<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SignUp</title>
  <link rel="stylesheet" href="public\style.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body>
  <div class="form-container">
    <div class="title"><span>SignUp Form</span></div>
    <form action="/signup" method="post">
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Full Name" required />
      </div>
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="text" ID="ID" placeholder="ID" required />
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        <input type="password" Password="Password" placeholder="Password" required />
      </div>
      <div class="row button">
        <input type="submit" value="SignUp" />
        <button type="submit" class="submit-btn" value="Login" ></button>
      </div>
      <p><a href="./login.hbs" target="login.hbs">Already a Member?</a></p>
    </form>
  </div>
</body>
</html>